node_modules
npm-debug.log
.next
out
build
.env
.env.local
.env.development
.env.test
.env.production
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.dockerignore
.vscode
.idea
*.pem
.vercel
coverage
*.tsbuildinfo
lib/generated/prisma
prisma/migrations
